# Compiled output
/dist
/node_modules
/build
/generated/prisma
/prisma/migrations

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Tests
/coverage
/.nyc_output

# IDE - VSCode
.idea
.vscode*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
