@theme {
    --color-primary-text: #F8FAFCD1;
    --color-secondary-text: #94a3b8;
    --color-faded-text: #6c6c6c;
    --color-icon: #5A5A5AFF;

    --color-primary-bg: #030313F2;
    --color-secondary-bg: #121c35;

    --color-main-border: #1e293b;
    --color-main-outline: #0B4C7AA0;
    --color-main-glow: #6366f1;
}