@theme {
    --color-primary-text: rgba(248, 250, 252, 0.82);
    --color-secondary-text: #94a3b8;

    --color-primary-bg: rgba(3, 3, 19, 0.95);
    --color-secondary-bg: #121c35;

    --color-main-border: #1e293b;
    --color-main-outline: #0B4C7AA0;
    --color-main-glow: #6366f1;
}

